[submodule "apps/protocol/lib/solmate"]
	path = apps/protocol/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "apps/protocol/lib/openzeppelin-contracts"]
	path = apps/protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
