[submodule "apps/protocol/lib/continuous-clearing-auction"]
	path = apps/protocol/lib/continuous-clearing-auction
	url = https://github.com/Uniswap/continuous-clearing-auction
[submodule "apps/protocol/lib/liquidity-launcher"]
	path = apps/protocol/lib/liquidity-launcher
	url = https://github.com/Uniswap/liquidity-launcher
[submodule "apps/protocol/lib/cofhe-contracts"]
	path = apps/protocol/lib/cofhe-contracts
	url = https://github.com/FhenixProtocol/cofhe-contracts
[submodule "apps/protocol/lib/cofhe-mock-contracts"]
	path = apps/protocol/lib/cofhe-mock-contracts
	url = https://github.com/FhenixProtocol/cofhe-foundry-mocks
[submodule "apps/protocol/lib/openzeppelin-contracts-upgradeable"]
	path = apps/protocol/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable.git
