[submodule "apps/protocol/lib/solmate"]
	path = apps/protocol/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "apps/protocol/lib/openzeppelin-contracts"]
	path = apps/protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/protocol/lib/solady"]
	path = apps/protocol/lib/solady
	url = https://github.com/vectorized/solady
[submodule "apps/protocol/lib/v4-core"]
	path = apps/protocol/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "apps/protocol/lib/v4-periphery"]
	path = apps/protocol/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
